body { padding-top: 70px; }

#presentation {
   margin-top: 80px; 
   margin-bottom: 50px; 

}

.dynamic-text li{
    list-style: none;
}

.dynamic-text li::after{
    list-style: none;
    animation: typing 3s steps(10) infinite;
}

.list-style-none {
    list-style: none;
    list-style-type: none;
}

.list-style-none li{
    display: inline-block;
}